name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.7"  # or "3.10" etc.

      - name: Install package and test dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pytest
          python -m pip install .

      - name: Run tests
        run: |
          pytest

